* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.video-interface
{
    display: flex;
    flex-flow: row wrap;
}
.collection
{
    /*flex-grow: 0;*/
}
.video-container
{
    display: flex !important;
    justify-content: space-between !important;
    /*flex-grow: 1;*/
    width: 60% !important;
    height: 480px !important;
    margin: 0 auto !important;
}
a
{
    color: inherit !important;
}
iframe
{
    margin: 16px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
}

nav {
    font-family: "Raleway ExtraLight", sans-serif;
}
.about-header
{
    font-family: "Raleway ExtraLight", sans-serif;

}
video{
    padding-top: 16px;
}
.sidenav{
    color: black;
    font-family: "Raleway ", sans-serif;
}
label{
    font-size: 22px;
}
.wrapper{
    display: flex;
    flex-flow: row wrap !important;
    /*justify-content: flex-start;*/
    /*align-items: center;*/
}
.list{
    margin: 16px;
}
.quiz{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}
.choices{
    display: flex;
    flex-flow: column wrap;
}
.start-here
{
    width: 100%;
    height: auto;
    position: fixed;
    margin: 0 auto;
    top: 50%;
    /*background: rgba(0, 0, 0, 0.5);*/
    color: #f1f1f1;
    z-index: 1;
    /*width: 100%;*/
    padding: 20px;
}
.main-header
{
    position: fixed;
    top: 20%;
    left: 33%;
}
#myVideo
{
    filter: brightness(30%);
}

#start
{
    cursor: pointer;
    z-index: 1;
    /*text-decoration: none;*/
    /*color: white;*/
}
.card{
    height: 200px !important;
    width: 200px !important;
    margin: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00c853;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}
.content-container
{
    width: 100%;
    padding: 16px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
.content
{
    width: 80%;
}
h5
{
    padding: 8px;
}
.references
{
    width: 80% !important;
}
.video
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.button-submit
{
    background-color: #1976d2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

nav{
    /*margin-top: -1px;*/
    /*padding: 16px;*/
    padding-left: 16px;
    background-color: #1976d2;
    color: white;
}
span{
    font-size: 28px;
}