* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.video-container
{
    display: flex !important;
    justify-content: center !important;
    width: 80% !important;
    margin: 16px !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    font-family: "Raleway ExtraLight", sans-serif;
}
video{
    padding-top: 16px;
}
.sidenav{
    color: black;
    font-family: "Raleway ", sans-serif;
}
label{
    font-size: 22px;
}
.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /*align-items: center;*/
}
.list{
    margin: 16px;
}
.quiz{
    display: flex;
    flex-direction: column;
}
.choices{
    display: flex;
    flex-flow: column wrap;
}
#start
{
    cursor: pointer;
    z-index: 1;
    /*text-decoration: none;*/
    /*color: white;*/
}
.card{
    height: 200px !important;
    width: 200px !important;
    margin: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button
{
    position: absolute;
    background-color: #1976d2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

nav{
    /*margin-top: -1px;*/
    /*padding: 16px;*/
    padding-left: 16px;
    background-color: #1976d2;
    color: white;
}
span{
    font-size: 28px;
}